@import "../variables.scss";

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@each $scale in $scaleList {
  .stack.#{$scale} > * + * {
    margin-block-start: var(--#{$scale});
  }
}
