:root {
  --ratio: 1.5;
  --sm5: calc(var(--sm4) / var(--ratio));
  --sm4: calc(var(--sm3) / var(--ratio));
  --sm3: calc(var(--sm2) / var(--ratio));
  --sm2: calc(var(--sm1) / var(--ratio));
  --sm1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  --border-thin: var(--s-5);
  --measure: 65ch;
}

* {
  box-sizing: border-box;
}
